<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Leaflet Project</title>
    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <button onclick="fullScreenView()">View Fullscreen</button>
    <div class="coordinate"></div>
</body>

</html>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var indiaCoordinate = [20.5937 , 78.9629];
    var suratCoordinate = [21.1702, 72.8311];
    // Focusing on particular part of the map based on the coordinate
    var map = L.map('map').setView(suratCoordinate, 7);
    // Position of zoom controller
    map.zoomControl.setPosition('topright');

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Adding marker on map based on the coordinate
    L.marker(suratCoordinate).addTo(map)
        .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        .openPopup();   
    // Setting Up the Scale
    L.control.scale({position: 'bottomleft'}).addTo(map);

    //Trigger the full screen
    var mapId = document.getElementById('map');
    function fullScreenView() {
        mapId.requestFullscreen();
    }

    //Show Map coordinates on the web
    map.on('mousemove', function(e){
        console.log(e)
        $('.coordinate').html('Lat: '+ e.latlng.lat +  " "+  'Lng: ' +  e.latlng.lng)
    })

</script>